<ion-view>
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-information-outline" ng-click="showInfo()"></button>
        </ion-nav-buttons>

        <ion-nav-title>Events</ion-nav-title>





        <ion-content class="outer text-center">

            <div class="item item-borderless " ng-show="items.length === 0">
               To Add Event Tap (+)
            </div>
            <h3 ng-show="items.length > 0">
                        <p class="text-center">Select event to view </p>
                        
                    </h3>
            <ion-list>

                <ion-item class="item no-padding" ng-repeat="eventItem in items" ng-class="{ 'selected' : isSelected($index) }" ng-click="select($index)">
                    <div class="row row-center ">

                        <div class="col event-image-container">
                            <img ng-src="{{ eventItem.image }}">
                        </div>
                        <div class="col col-80 ">
                            <p>{{eventItem.name}}</p>

                            <div ng-show="(eventItem.date | date:'MM/dd/yyyy'| amDifference : null : 'days') > 0" class="order-description">{{eventItem.date | date:'MM/dd/yyyy'| amDifference : null : 'days'}} days left </div>
                            <div ng-show="(eventItem.date | date:'MM/dd/yyyy'| amDifference : null : 'days') <= 0" class="order-description">This event has passed.</div>
                        </div>

                    </div>
                    <div class="padding-bottom" ng-if="isSelected($index)">
                        <div class="text-center">
                            <p>{{ eventItem.comment }}</p>

                        </div>
                        <div class="button-bar">

                            <a class="button button-small button-assertive" ng-click="showEvent(eventItem)">Show Info</a>
                        </div>

                    </div>

            </ion-list>
            
        </ion-content>
        <button class="button button-float" ng-click="addEvent()">
        <i class="icon ion-plus"></i>
      </button>
</ion-view>